extends layout

block content
	h1= gameData.name

	each period in gameData.data.periods
		section
			header
				h2= period.name

			each event in period.events
				div
					header
						h3= event.name

						if event.scenes
							each scene in event.scenes
								div
									dl
										dt= scene.question
										dd= scene.answer
